/* 
https://www.figma.com/file/O5POqSkLrE5D1CtcWxyDNq/orbeet-delivery?node-id=0%3A1

Breakpoints standards
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px



Police inter de google fonts?
https://fonts.google.com/specimen/Inter?query=inter


marges : 100px en bureau, 20px en mobile

en dessous de 576px
les sections prennent padding: 50px 20px;

couleur exacte background hero section


titre h2 2 employees et section 7 functionalities
titre h2 avec une font differente sur le figma: erreur?
titre h2 avec une font differente sur le figma font 36px line-height 48px: erreur?

box-shadow sur les cartes : que veux tu exactement? (comportement déjà mis en place)

comportement sur les cartes à regarder
section 4 community
section 6 offers
section 7 functionalities



8 sections au total
1 feuille contact
1 footer

7 sections faites
1 hero
2 employees
3 numbers
4 community
5 newsletter
6 offers
7 functionalities
footer

a faire
8 tool
feuille contact
*/



/*==================== RESET CSS ====================*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

a {
    text-decoration: none;
}


/*==================== FONT-FAMILY ====================*/
html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #000000;
}

.breadcrumb {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

h1 {
    font-weight: 300;
    font-size: 46px;
    line-height: 58px;
}

h2 {
    font-weight: 300;
    font-size: 46px;
    line-height: 58px;
}

.h2_class {
    font-weight: 800;
    font-size: 42px;
    line-height: 54px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
}

h5 {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
}

p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
}

.p_small {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.p_tiny {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.form_label {
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
}

.form_button {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}


/*==================== REM PIXELS VARIABLES ====================*/


/*==================== CLASSES UTILITAIRES ====================*/


/*==================== SECTIONS DEFINITIONS GENERALES ====================*/

/* 
main-conteneur : 1000px centré
title : max-width : 430px
paragraph : max-width : 460px
marges : 100px en bureau, 20px en mobile
*/
section {
    padding: 120px 100px;
    text-align: left;
}

.section_container {
    max-width: 1000px;
    margin: auto;
}

.section_title {
    max-width: 430px;
}

.section_paragraph {
    max-width: 460px;
}

/*==================== SECTION 1 HERO ====================*/
.section_hero {
    background: #131313bb;
    color:#FFFFFF;
}

.section_hero h1 {
    margin: 65px 0 53px 0px;
}

/*==================== SECTION 2 EMPLOYEES ====================*/
.section_employees {
    background: #D9D9D9;
    color: #000000;
}

.section_employees h2 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 63px;
}

.section_employees_row {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

/*==================== SECTION 3 NUMBERS ====================*/
.section_numbers {
    background: #F5F5F5;
    color: #000000;
    text-align: center;
}

.section_numbers .section_container {
    max-width: 1140px;
}

.section_numbers h5 {
    max-width: 520px;
    margin: auto;
}

.section_numbers h2 {
    max-width: 600px;
    margin: 27px auto 110px auto;
}

.section_numbers_cards_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.section_numbers_card_number {
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    margin: 0 auto 18px auto;
}

/*==================== SECTION 4 COMMUNITY ====================*/
.section_community {
    background: #000000;
    color: #FFFFFF;
    text-align: center;
}

.section_community .section_container {
    max-width: 1140px;
}

.section_community h5 {
    max-width: 630px;
    margin: auto;
}

.section_community h2 {
    max-width: 630px;
    margin: 18px auto 43px auto;
}

.section_community p {
    max-width: 650px;
    margin: 0 auto 43px auto;
}

.section_community_cards_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 45px;
    flex-wrap: wrap;
}

.section_community_card {
    display: inline-block;
    background: #D9D9D9;
    height: 400px;
    width: calc(33.33% - 30px);
    max-width: 350px;
    cursor: pointer;
    text-align: left;
    transition: all 0.2s ease;
}

.section_community_card:hover {
    transform: scale(1.05);
    /* box-shadow: 0px 0px 0 5px #D9D9D9; */
}

.section_community_card span {
    display: inline-block;
    width: 84px;
    height: 84px;
    margin: 50px 0px 30px 30px;
    background: #FFFFFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_community_card img {
    max-height: 35px;
}

.section_community_card h3 {
    color: #000000;
    margin-left: 30px;
}

.section_community_card p {
    color: #000000;
    margin: 30px 50px 30px 30px;
}



/*==================== SECTION 5 NEWSLETTER ====================*/
.section_newsletter {
    background: #FFFFFF;
    color: #000000;
    text-align: center;
}

.section_newsletter .section_container {
    max-width: 630px;
}

.section_newsletter h2 {
    margin: 18px 0 53px 0;
}

.section_newsletter_input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.section_newsletter_input button {
    height: 46px;
    width: 100%;
    max-width: 154px;
    border: none;
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
}

.section_newsletter_input input {
    height: 44px;
    width: calc(100% - 18px);
    max-width: 282px;
    border: 1px solid #D3D4D8;
    border-radius: 4px;
    padding-left: 16px;
}


/*==================== SECTION 6 OFFERS ====================*/
.section_offers {
    padding: 120px 30px;
    background: #000000;
    color:#FFFFFF;
}

.section_offers .section_container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    gap: 45px;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
}

.section_offers_text h2 {
    margin-bottom: 20px;
    max-width: 420px;
}

.section_offers_text p {
    max-width: 440px;
}

.section_offers_cards_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 45px;
    flex-wrap: nowrap;
}

.section_offers_card {
    width: 220px;
    height: 229px;
    padding: 36px 52px 35px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mint,
.mint a {
    background: #F4F4F4;
    color: #000000;
}

.custom,
.custom a {
    background: #131313bb;
    color: #FFFFFF;
}

.section_offers_card h3 {
    margin-bottom: 36px;
}

.section_offers_card a {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
}

.section_offers_card a img {
    width: 15px;
}

/*==================== SECTION 7 FUNCTIONALITIES ====================*/
.section_functionalities {
    background: #D9D9D9;
    color: #000000;
    text-align: center;
}

.section_functionalities h2 {
    font-size: 36px;
    line-height: 48px;
    margin: 0px auto 39px auto;
    max-width: 630px;
}

.section_functionalities p {
    margin: 0px auto 80px auto;
    max-width: 650px;
}

.section_functionalities_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: nowrap;
}

.section_functionalities_img {
    height: 316px;
    width: 100%;
    max-width: 480px;
    background-color: #FFFFFF;
}

.section_functionalities_text {
    max-width: 460px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.section_functionalities_text_card {
    width: calc(50% - 30px);
    text-align: left;
}

.section_functionalities_text_card h3 {
    margin-bottom: 14px;
    width: 90%;
}

.section_functionalities_text_card p {
    margin: 0;
    width: 100%;
}

/*==================== SECTION 8 TOOL ====================*/
.section_tool1,
.section_tool2 {
    background: #FFFFFF;
    color: #000000;
    text-align: left;
}

.section_tool1 .section_container {
    display: flex;
    gap: 40px;
}

.section_tool1 h3 {
    max-width: 430px;
}

.section_tool1 p {
    max-width: 460px;
    margin: 26px 0 40px 0;
}

.section_tool1_text {
    width: 100%;
    max-width: 480px;
}

.section_tool1_text a {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

.section_tool1_img {
    background: #F5F5F5;
    height: 317px;
    width: 100%;
    max-width: 480px;
}

.section_tool2 .section_container {
    display: flex;
    gap: 60px;
    max-width: 800px;
}

.section_tool2 h2 {
    max-width: 320px;
    margin-bottom: 60px;
    font-size: 36px;
    line-height: 48px;
}

.section_tool2 p {
    max-width: 340px;
}

.section_tool2_img {
    background: #F5F5F5;
    height: 228px;
    width: 100%;
    max-width: 400px;
}

/*==================== FOOTER ====================*/
.footer_contact {
    background: #131313bb;
    color:#FFFFFF;
    padding: 40px 73px 68px 73px;
}

.footer_contact_img {
    width: 150px;
    height: 150px;
    background: #F5F5F5;
}

.footer_contact p {
    margin: 24px 0px 37px 0px;
    max-width: 300px;
}

.footer_contact a {
    height: 46px;
    width: 198px;
    border: none;
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.footer_contact a img {
    margin: 0 15px 0 21px;
    width: 20px;
}

.contact_white {
    display: inline-block;
}

.contact_dark {
    display: none;
}

.footer_links {
    background: #131313;
    height: 100px;
    border-top: 1px solid #454545;
    padding: 0px 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_links_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_links_container a {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer_links_separator {
    display: inline-block;
    width: 1.5px;
    height: 18px;
    margin: 0 10px;
    background: white;
}

.footer_links_social {
    height: 101px;
    border-top: 1px solid #454545;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*==================== SECTION CONTACT ====================*/
.section_contact {
    background: #131313bb;
    color:#FFFFFF;
}

.section_contact h1 {
    margin: 65px 0 45px 0px;
}

.section_contact_form {
    display: flex;
    flex-direction: row;
    max-width: 1250px;
    margin: auto;
}

.section_contact_form_input_container {
    margin: 100px 50px 95px 110px;
    width: 100%;
}

.section_contact_form_input {
    width: 100%;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.section_contact_form_input_card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: calc(50% - 15px);
}

.section_contact_form_input .w_100 {
    width: 100%;
}

.section_contact_form_input_card input,
.section_contact_form_input_card select {
    border: 1px solid #D3D4D8;
    border-radius: 4px;
    height: 24px;
    background: #FFFFFF;
    padding:10px;
}

.section_contact_form_input_card textarea{
    border: 1px solid #D3D4D8;
    border-radius: 4px;
    height: 180px;
    padding:10px;
}

.section_contact_form_input_container p{
    margin: 27px 0px 45px 0px;
}

.section_contact_form_input_container button {
    height: 70px;
    width: 150px;
    border: none;
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
    margin-top:50px;
}

.section_contact_form_infos_container {
    margin: 90px 90px 0 0;
}

.section_contact_form_infos {
    padding: 40px 30px;
    background: #F0F0F0;
    width: 260px;
    color: #000000;
}

.section_contact_form_infos h3 {
    margin-bottom: 40px;
}






/*==================== MEDIA QUERIES ====================*/
@media only screen and (max-width: 576px) {
    section {
        padding: 50px 20px;
    }

    .section_employees_row p {
        font-size: 15px;
        line-height: 24px;
    }

    .section_functionalities {
        text-align: left;
    }

    .section_functionalities_text_card {
        width: 100%;
        text-align: left;
    }

    .footer_contact {
        background: #000000;
        padding: 68px 20px 81px 20px;
    }

    .footer_contact a {
        background: #FFFFFF;
        color: #000000;
    }

    .contact_white {
        display: none;
    }

    .contact_dark {
        display: inline-block;
    }

    .section_contact h1 {
        margin: 38px 0 47px 0px;
    }

    .section_contact_form {
        flex-direction: column-reverse;
    }

    .section_contact_form_input_container {
        margin: 0px 20px 90px 20px;
        width: 100%;
    }

    .section_contact_form_infos_container {
        margin: 0;
    }

    .section_contact_form_infos {
        width: calc(100% - 60px);
    }

}

@media only screen and (max-width: 768px) {
    .section_employees_row {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .section_numbers {
        text-align: left;
    }

    .section_numbers h2 {
        margin: 27px auto 68px auto;
    }

    .section_numbers_cards_container {
        flex-direction: column;
        gap: 64px;
    }

    .section_community {
        text-align: left;
    }

    .section_community h2 {
        margin: 48px auto 29px auto;
    }

    .section_community_cards_container {
        justify-content: start;
    }


    .section_newsletter_input {
        flex-direction: column;
        gap: 26px;
    }

    .section_newsletter_input button {
        max-width: 360px;
    }

    .section_newsletter_input input {
        max-width: 342px;
    }

    .section_offers_cards_container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 992px) {

    .section_tool1 .section_container,
    .section_tool2 .section_container {
        flex-direction: column-reverse;
    }

    .footer_links {
        flex-direction: column;
        padding: 0;
        height: auto;
    }

    .footer_links_container {
        flex-direction: column;
        gap: 20px;
        padding: 50px 0;
    }

    .footer_links_separator {
        display: none;
    }

    .footer_links_social {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .section_community_card {
        width: 100% !important;
    }

    .section_offers .section_container {
        flex-wrap: wrap;
    }

    .section_functionalities_container {
        flex-wrap: wrap;
    }
}