/* 
https://www.figma.com/file/O5POqSkLrE5D1CtcWxyDNq/orbeet-delivery?node-id=0%3A1

X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px


50px entre les titres paragraphe

classes couleurs et background

cartes avec effets shadow 

classes utilitaires dans le html pour les marges aussi

fonctionnalités entre paragraphes et image

balise image en fond la ou il faut




8 sections au total
1 feuille contact
1 footer

7 sections faites
1 hero
2 employees
3 numbers
4 community
5 newsletter
6 offers
7 functionalities
footer

a faire
8 tool
feuille contact
*/



/*==================== RESET CSS ====================*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}


/*==================== FONT-FAMILY ====================*/
html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #000000;
    background: #FFFFFF;
}

.breadcrumb {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

h1 {
    font-weight: 300;
    font-size: 46px;
    line-height: 58px;
}

h2 {
    font-weight: 300;
    font-size: 46px;
    line-height: 58px;
}

.h2_36_48 {
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
}

.h2_42_54 {
    font-weight: 800;
    font-size: 42px;
    line-height: 54px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
}

h5 {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
}

p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
}

.p_small {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.p_tiny {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.form_label {
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
}

.form_button {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.weight_600 {
    font-weight: 600;
}


/*==================== REM PIXELS VARIABLES ====================*/

/*==================== CLASSES UTILITAIRES ====================*/
.color_black {
    color: #000000;
}

.color_white {
    color: #FFFFFF;
}

.background_black {
    background: black;
}

.background_white {
    background: #FFFFFF;
}

.background_grey_strong {
    background: #131313bb;
}

.background_grey_soft {
    background: #D9D9D9;
}

.background_white_break {
    background: #F5F5F5;
}

.background_offers_grey {
    background: #F4F4F4;
}

.background_offers_black {
    background: #131313bb;
}

.border_grey {
    border: 1px solid #D3D4D8;
}

.border_radius_4 {
    border-radius: 4px;
}

.mw_800_auto {
    max-width: 800px;
    margin: auto;
}

.mw_1000_auto {
    max-width: 1000px;
    margin: auto;
}

.mw_1140_auto {
    max-width: 1140px;
    margin: auto;
}



.my_auto {
    margin-left: auto;
    margin-right: auto;
}

.mw_280 {
    max-width: 280px;
}

.mw_320 {
    max-width: 320px;
}

.mw_340 {
    max-width: 340px;
}

.mw_400 {
    max-width: 400px;
}

.mw_420 {
    max-width: 420px;
}

.mw_430 {
    max-width: 430px;
}

.mw_440 {
    max-width: 440px;
}

.mw_460 {
    max-width: 460px;
}

.mw_480 {
    max-width: 480px;
}

.mw_520 {
    max-width: 520px;
}

.mw_600 {
    max-width: 600px;
}

.mw_630 {
    max-width: 630px;
}

.mw_650 {
    max-width: 650px;
}

.w_100 {
    width: 100%;
}

.h_50 {
    height: 50%;
}

.m_auto {
    margin: auto;
}

.mt_18 {
    margin-top: 18px;
}

.mt_30 {
    margin-top: 30px;
}

.mt_60 {
    margin-top: 60px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_50 {
    margin-bottom: 50px;
}

.mb_110 {
    margin-bottom: 110px;
}

.gap_30 {
    gap: 30px;
}

.gap_45 {
    gap: 45px;
}

.gap_60 {
    gap: 60px;
}

.gap_80 {
    gap: 80px;
}

.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex_between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex_column_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex_start_center {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.flex_center_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex_wrap {
    flex-wrap: wrap;
}

.flex_nowrap {
    flex-wrap: nowrap;
}


/*==================== SECTIONS DEFINITIONS GENERALES ====================*/
/* 
main-conteneur : 1000px centré
title : max-width : 430px
paragraph : max-width : 460px
marges : 100px en bureau, 20px en mobile
*/
section {
    padding: 120px 100px;
    text-align: left;
}

/*==================== SECTION 1 HERO ====================*/
.section_hero {
    position: relative;
    overflow: hidden;
}

.section_hero_background_image{
    position: absolute;
    top:0;
    left: 0;
    opacity: 10%;
    width: 100%;
}

/*==================== SECTION 2 EMPLOYEES ====================*/
/*==================== SECTION 3 NUMBERS ====================*/
.section_numbers_card {
    width: calc(33.33% - 20px);
}

.section_numbers_card_number {
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 18px;
}

/*==================== SECTION 4 COMMUNITY ====================*/
.section_community_h2 {
    margin-top: 18px;
    margin-bottom: 50px;
}



.section_community_card {
    height: 400px;
    width: calc(33.33% - 30px);
    max-width: 350px;
    text-align: left;
}

.section_community_card_hover {
    transition: all 0.2s ease;
}

.section_community_card_hover:hover {
    transform: scale(1.05);
    /* box-shadow: 0px 0px 0 5px #D9D9D9; */
}

.section_community_card span {
    width: 84px;
    height: 84px;
    margin: 50px 0px 30px 30px;
    border-radius: 100%;
}

.section_community_card img {
    max-height: 35px;
}

.section_community_card h3 {
    margin-left: 30px;
}

.section_community_card p {
    margin: 30px 50px 30px 30px;
}


/*==================== SECTION 5 NEWSLETTER ====================*/

.section_newsletter_input {
    gap: 0;
}

.section_newsletter_input button {
    height: 46px;
    width: 100%;
    max-width: 154px;
    border: none;
}

.section_newsletter_input input {
    height: 44px;
    width: calc(100% - 18px);
    max-width: 282px;
    padding-left: 16px;
}


/*==================== SECTION 6 OFFERS ====================*/
.section_offers {
    padding: 120px 30px;
}

.section_offers_card {
    width: 220px;
    height: 229px;
    padding: 36px 52px 35px 28px;
}

.section_offers_card h3 {
    margin-bottom: 36px;
}

.section_offers_card a {
    font-weight: 600;
}

.section_offers_card a img {
    width: 15px;
}

/*==================== SECTION 7 FUNCTIONALITIES ====================*/

.section_functionalities h2 {
    margin: 0px auto 39px auto;
    max-width: 630px;
}

.section_functionalities p {
    margin: 0px auto 80px auto;
    max-width: 650px;
}

.section_functionalities_container {
    gap: 60px;
}

.section_functionalities_img {
    height: 316px;
    width: 100%;
    max-width: 480px;
}

.section_functionalities_text {
    max-width: 460px;
    width: 100%;
    gap: 60px;
}

.section_functionalities_text_card {
    width: calc(50% - 30px);
}

.section_functionalities_text_card h3 {
    margin-bottom: 14px;
    width: 90%;
}

.section_functionalities_text_card p {
    margin: 0;
    width: 100%;
}

/*==================== SECTION 8 TOOL ====================*/
.section_tool_img {
    height: 317px;
}

.section_tool2 .section_container {
    display: flex;
    gap: 60px;
    max-width: 800px;
}

.section_tool2 h2 {
    max-width: 320px;
    margin-bottom: 60px;
}

.section_tool2 p {
    max-width: 340px;
}

.section_tool2_img {
    background: #F5F5F5;
    height: 228px;
    width: 100%;
    max-width: 400px;
}

/*==================== FOOTER ====================*/
.footer_contact {
    background: #131313bb;
    color: #FFFFFF;
    padding: 40px 73px 68px 73px;
}

.footer_contact_img {
    width: 150px;
    height: 150px;
    background: #F5F5F5;
}

.footer_contact p {
    margin: 24px 0px 37px 0px;
    max-width: 300px;
}

.footer_contact a {
    height: 46px;
    width: 198px;
    border: none;
    background: #000000;
    color: #FFFFFF;
}

.footer_contact a img {
    margin: 0 15px 0 21px;
    width: 20px;
}

.contact_white {
    display: inline-block;
}

.contact_dark {
    display: none;
}

.footer_links {
    background: #131313;
    height: 100px;
    border-top: 1px solid #454545;
    padding: 0px 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer_links_container a {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer_links_separator {
    display: inline-block;
    width: 1.5px;
    height: 18px;
    margin: 0 10px;
    background: white;
}

.footer_links_social {
    height: 101px;
    border-top: 1px solid #454545;
}


/*==================== CONTACT ====================*/
.section_contact {
    background: #131313bb;
    color: #FFFFFF;
}

.section_contact h1 {
    margin: 65px 0 45px 0px;
}

.section_contact_form {
    display: flex;
    flex-direction: row;
    max-width: 1250px;
    margin: auto;
}

.section_contact_form_input_container {
    margin: 100px 50px 95px 110px;
    width: 100%;
}

.section_contact_form_input {
    width: 100%;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.section_contact_form_input_card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: calc(50% - 15px);
}

.section_contact_form_input .w_100 {
    width: 100%;
}

.section_contact_form_input_card input,
.section_contact_form_input_card select {
    border: 1px solid #D3D4D8;
    border-radius: 4px;
    height: 24px;
    background: #FFFFFF;
    padding: 10px;
}


.section_contact_form_input_card textarea {
    border: 1px solid #D3D4D8;
    border-radius: 4px;
    height: 180px;
    padding: 10px;
}

.section_contact_form_input_container p {
    margin: 27px 0px 45px 0px;
}

.section_contact_form_input_container button {
    height: 70px;
    width: 150px;
    border: none;
    background: #000000;
    color: #FFFFFF;
    border-radius: 4px;
    margin-top: 50px;
}

.section_contact_form_infos_container {
    margin: 90px 90px 0 0;
}

.section_contact_form_infos {
    padding: 40px 30px;
    background: #F0F0F0;
    width: 260px;
    color: #000000;
}

.section_contact_form_infos h3 {
    margin-bottom: 40px;
}

/*==================== MEDIA QUERIES ====================*/
@media only screen and (max-width: 576px) {
    section {
        padding: 50px 20px;
    }

    .p_small_under_576 {
        font-size: 15px;
        line-height: 24px;
    }

    .text_left_under_576 {
        text-align: left;
    }

    .section_functionalities_container {
        justify-content: start;
    }

    .section_functionalities_text_card {
        width: 100%;
    }

    .footer_contact {
        background: #000000;
        padding: 68px 20px 81px 20px;
    }

    .footer_contact a {
        background: #FFFFFF;
        color: #000000;
    }

    .contact_white {
        display: none;
    }

    .contact_dark {
        display: inline-block;
    }

    .section_contact h1 {
        margin: 38px 0 47px 0px;
    }

    .section_contact_form {
        flex-direction: column-reverse;
    }

    .section_contact_form_input_container {
        margin: 0px 20px 90px 20px;
        width: 100%;
    }

    .section_contact_form_infos_container {
        margin: 0;
    }

    .section_contact_form_infos {
        width: calc(100% - 60px);
    }

}

@media only screen and (max-width: 768px) {
    .flex_column_under_768 {
        flex-direction: column;
    }

    .flex_column_reverse_under_768 {
        flex-direction: column-reverse;
    }

    .gap_10_under_768 {
        gap: 10px;
    }

    .gap_60_under_768 {
        gap: 60px;
    }

    .text_left_under_768 {
        text-align: left;
    }

    .mb_70_under_768 {
        margin-bottom: 70px;
    }

    .section_numbers_card {
        width: calc(100%);
    }

    .section_community_h2 {
        margin-top: 48px;
        margin-bottom: 29px;
    }

    .section_community_cards_container {
        justify-content: start;
        gap: 31px;
    }


    .section_newsletter_input {
        gap: 26px;
    }

    .section_newsletter_input button {
        max-width: 360px;
    }

    .section_newsletter_input input {
        max-width: 342px;
    }

}

@media only screen and (max-width: 992px) {

    .section_tool1 .section_container,
    .section_tool2 .section_container {
        flex-direction: column-reverse;
    }

    .footer_links {
        flex-direction: column;
        padding: 0;
        height: auto;
    }

    .footer_links_container {
        flex-direction: column;
        gap: 20px;
        padding: 50px 0;
    }

    .footer_links_separator {
        display: none;
    }

    .footer_links_social {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .flex_wrap_under_1200 {
        flex-wrap: wrap;
    }

    .section_community_card {
        width: 100% !important;
    }
}