/* 
https://www.figma.com/file/O5POqSkLrE5D1CtcWxyDNq/orbeet-delivery?node-id=0%3A1

Breakpoints standards
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px

Police inter de google fonts?
https://fonts.google.com/specimen/Inter?query=inter

type de typos
breadcrumb
h1
h2
h2 strong
h3
h4
h5
p-large
p-small
p-tiny
form-label
form-button


uppercase sur certains élements de typo?

marges : 100px en bureau, 20px en mobile

couleur exacte background

en dessous de 576px
les sections prennent padding: 50px 20px;

title section 2 : titre h2 : font 36px line-height : 48px : erreur?

*/



/*==================== RESET CSS ====================*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}



/*==================== FONT-FAMILY ====================*/
html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #FFFFFF;
}

.breadcrumb {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

h1 {
    font-weight: 300;
    font-size: 46px;
    line-height: 58px;
}

h2 {
    font-weight: 300;
    font-size: 46px;
    line-height: 58px;
}

.h2_class {
    font-weight: 800;
    font-size: 42px;
    line-height: 54px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
}

h5 {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
}

p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
}

.form_label{
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
}

.form_button{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

/* 
p-small = font-size 15px et line-height 24px
p-tiny = font-size 12px et line-height 16px
*/

/*==================== REM PIXELS VARIABLES ====================*/


/*==================== CLASSES UTILITAIRES ====================*/



/*==================== SECTION ====================*/
/* 
main-conteneur : 1000px centré
title : max-width : 430px
paragraph : max-width : 460px
marges : 100px en bureau, 20px en mobile
*/

section {
    padding: 120px 100px;
    text-align: left;
}

.section_container {
    max-width: 1000px;
    margin: auto;
}

.section_title {
    max-width: 430px;
}

.section_paragraph {
    max-width: 460px;
}



@media only screen and (max-width: 576px) {
    section {
        padding: 50px 20px;
    }
}

.section_hero {
    background: #393131;
}

.section_hero h1 {
    margin: 65px 0 53px 0px;
}


.section_employees {
    background: #D9D9D9;
    color: #000000;
}

.section_employees h2 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 63px;
}

.section_employees_row {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.section_numbers {
    background: #F5F5F5;
    color: #000000;
    text-align: center;
}

.section_numbers .section_container {
    max-width: 1140px;
}

.section_numbers h5 {
    max-width: 520px;
    margin: auto;
}

.section_numbers h2 {
    max-width: 600px;
    margin: 27px auto 110px auto;
}

.section_numbers_cards_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.section_numbers_card_number {
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    margin: 0 auto 18px auto;
}


.section_newsletter {
    background: #FFFFFF;
    color: #000000;
    text-align: center;
}

.section_newsletter .section_container{
    max-width: 630px;
}

.section_newsletter h2{
    margin: 18px 0 53px 0;
}

.section_newsletter_input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:0;
}

.section_newsletter_input button{
    height: 46px;
    width: 100%;
    max-width: 154px;
    border: none;
    background:#000000;
    color:#FFFFFF;
    cursor: pointer;
    border-radius: 4px;
}
.section_newsletter_input input{
    height: 44px;
    width: calc(100% - 18px );
    max-width: 282px;
    border: 1px solid #D3D4D8;
    border-radius: 4px;
    padding-left: 16px;
}


/*==================== MEDIA QUERIES ====================*/


@media only screen and (max-width: 576px) {
    section {
        padding: 50px 20px;
    }

    .section_employees_row p {
        font-size: 15px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 768px) {
    .section_employees_row {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .section_numbers {
        text-align: left;
    }

    .section_numbers h2 {
        margin: 27px auto 68px auto;
    }

    .section_numbers_cards_container {
        flex-direction: column;
        gap: 64px;
    }

    .section_newsletter_input{
        flex-direction: column;
        gap:26px; 
    }

    .section_newsletter_input button{
        max-width: 360px;
    }
    .section_newsletter_input input{
        max-width: 342px;
    }
}